
  
{% extends "base.html" %}

{% load static %}

{% block title %}
    {{title}}
{% endblock title %}


{% block cat_search %}
    {% include 'partials/_categories.html' %}
    {% include 'partials/_search.html' %}
{% endblock cat_search %}


{% block breadcrumb %}
    <li><a href="{% url 'products:home' %}">Home</a></li>
    <li><a href="{% url 'products:category_product' product.category.slug %}">{{product.category.name}}</a></li>
    <li>{{product.title}}</li>
{% endblock breadcrumb %}

{% block content %}

<!-- product details -->
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
    <article class="gallery-wrap"> 
    <div class="img-big-wrap">
    <div> 
        {% for image in product.product_images.all %}  
        <a href="#"><img src="{{image.image.url}}"></a></div>
            

        {% endfor %}
    </div> <!-- slider-product.// -->
    <div class="img-small-wrap">
    <div class="item-gallery"> <img src="{{image.image.url}}"> </div>
        <div class="item-gallery"> <img src="{{image.image.url}}"> </div>
    </div> <!-- slider-nav.// -->
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <aside class="col-sm-7">
    <article class="card-body p-5">
        <h3 class="title mb-3">{{product.title}}</h3>

    <p class="price-detail-wrap"> 
        <span class="price h3 text-warning"> 
            <span class="currency">US $</span><span class="num">{{product.price}}</span>
        </span> 
        <span>/per kg</span> 
    </p> <!-- price-detail-wrap .// -->
    <dl class="item-property">
    <dt>Description</dt>
    <dd><p>{{product.description}} </p></dd>
    </dl>
    <dl class="param param-feature">
    <dt>Model#</dt>
    <dd>{{product.brand}}</dd>
    </dl>  <!-- item-property-hor .// -->
    <dl class="param param-feature">
    <dt>Condition</dt>
    <dd>{{product.get_condition_display}}</dd>
    </dl>  <!-- item-property-hor .// -->
    <dl class="param param-feature">
    <dt>Location</dt>
    <dd>{{product.city}},,{{product.area}}</dd>
    </dl>  <!-- item-property-hor .// -->

    <dl class="param param-feature">
        <dt>Seller</dt>
        <dd>{{product.owner.username}}</dd>
    </dl> 
    {% if is_favourite%}
          <i class="far fa-heart fa-lg"></i>
        
      {% else %}
     
          <i class="far fa-heart fa-lg"></i>
        </a>
      {% endif %}

        <a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
        <a href="tel:{{product.owner.user_profile.phone_number}}" class="btn btn-success"> <i class="fa-solid fa-phone"></i>Call Seller </a>
    </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->


    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Realted Products</h3>
        </div>
        <hr>
        {% for ad in related_products %}
        <div class="col-md-4">
            <div class="thumbnail">
                    {% with ad.product_images.all|first as image %}
                        <img src="{{image.image.url}}" class="img-thmbnail" />
                    {% endwith %}
                    <div class="caption">
                        <h3>{{ad.title}}</h3>
                        <p>{{ ad.description|truncatechars:20 }}</p>
                        <p>
                            <a target="_blank" href="{% url 'products:ad_detail' ad.slug  %}" class="btn btn-info btn-md">View</a>
                        </p>
                    </div>
                </div>
        </div>
        {% endfor %}

    </div>v

{% endblock content %}


{% block script %}
    <!-- FlexSlider -->
          <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

            <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
          });
        });
        </script>
        <!-- //FlexSlider -->
{% endblock script %}
